<%= erb :html_head %>
<%= erb :navbar_partial %>
<form action="/listings/<%= @listing.listing_id %>/book" method="post">
  <input type="text" name="date" placeholder="date">
  <input type="submit" name="submit" value="submit">
</form>
