<%= erb :html_head %>
<%= erb :navbar_partial %>
<ul>
  <% @listings.each do |listing| %>
    <li>
      <a href="/listings/<%= listing.listing_id %>">
        <%= listing.name %>
      </a>
    </li>
  <% end %>
</ul>

<form action="/new_listing" method="get">
  <input type = "submit" name="create new listing" value = "create new listing">
</form>
