<div id="navbar">
  <a href="/"><span id="logo-title">MakersBnB</span></a>
  <br>
  <a href="/listings">Listings</a>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/sign_up">Sign Up</a>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/log_in">Log In</a>
  <% if session[:current_user] %>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/booking_requests">Booking Requests</a>
  <% end %>
  <br>
  <% if !session[:current_user] %>
    <span style="font-size: small; color: gray;"><em>To create listings or make a booking, sign up or log in</em></span>
  <% end %>
  <hr>
</div>
<div id="main">
