
<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body class='landing'>

    <div class="container">

      <a class="nav_link1" href="/"><span id="logo-title">MakersB<span id="n_logo">n</span>B</span></a>
      <br>
      <a class="nav_link2" href="/listings">Listings</a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a class="nav_link2" href="/sign_up">Sign Up</a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a class="nav_link2" href="/log_in">Log In</a>
      <br>
        <% if !session[:current_user] %>
          <span style="font-size: small; color: gray;"><em>To create listings or make a booking, sign up or log in</em></span>
        <% end %>
      <hr>

    </div>
  </body>
</html>
