<%= flash[:notice] %>
<form action="/sign_up" method="post">
  <input type="email" name="email" placeholder="your email here">
  <input type="password" name="password" placeholder="your password here">
  <input type = "submit" value = "sign up">
</form>
