body {
  font-family: 'Gill Sans', sans-serif;
  text-align: center;
  background-color: #eee;
  min-width: 500px;
  margin: 0;
}

input.button {
  margin: 1em;
  padding: 0.5em;
  background-color: #fc979c;
  color: white;
  border-radius: 5px;
  height: 25px;
  width: 75px;
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: capitalize;
}

input.create-new-listing-button {
  width: 150px;
}


#navbar {
  background-color: #f7f7f7;
  opacity: 0.9;
  margin-bottom: 16px;
  padding-bottom: 5px;
}

#main {
  background-color: #f7f7f7;
  min-height: 700px;
  opacity: 0.9;
}

#container {
  padding: 0 20% 10% 20%;
  background-image: url("/images/background2.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

textarea {
  resize: none;
}

#prompt-to-login {
  font-size: x-small;
}

#logo-title {
  color: #fc5c63;
  font-size: xx-large;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}
